:root {
  --background-color: #190421;
  --primary-color: #ff75f8;
  --text-color: #ffffff;
  --border-color: #c4c4c4;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.user-controls {
  display: flex;
  align-items: center;
}

.user-image {
  border-radius: 50%;
  margin-right: 5px;
}

.main-content {
  display: flex;
  flex: 1;
  padding: 20px;
}

.left-panel {
  width: 40%;
}

h1 {
  font-weight: bold;
  font-size: 24px;
  margin: 0 0 10px 0;
}

p {
  margin: 10px 0;
}

.search-field {
  width: 100%;
  margin-bottom: 10px;
}

.action-button {
  width: 100%;
  margin-bottom: 10px;
  border-color: var(--border-color);
}

.image-preview {
  display: flex;
  margin-top: 10px;
}

.image-preview img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.right-panel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #391d4e;
  border-radius: 20px;
}

.drop-zone {
  text-align: center;
  color: var(--primary-color);
}

.drop-zone mat-icon {
  font-size: 48px;
}

.drop-zone p {
  margin: 10px 0;
}